# Core
SPRING_DATA_MONGODB_HOST=mongodb
SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER-URI=https://keycloak.com/auth/realms/humpback_dev
SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK-SET-URI=https://keycloak.com/auth/realms/humpback_dev/protocol/openid-connect/certs

STORAGE_MINIO_ENDPOINT=
STORAGE_MINIO_ACCESSKEY=
STORAGE_MINIO_SECRETKEY=
STORAGE_MINIO_BUCKETS_IMAGE=

# Gateway
APPLICATION_FRONTEND-URL=https://humpback.com
SPRING_SECURITY_OAUTH2_CLIENT_PROVIDER_KEYCLOAK_ISSUER-URI=https://keycloak.com/auth/realms/humpback_dev
SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_KEYCLOAK_CLIENT-SECRET=111-222-333
SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_KEYCLOAK_CLIENT-ID=humpback-gateway
